<!DOCTYPE html>
<html>

<style>
nav ul li {
  display: inline-block;
  width: 180px;
}


table tr th.header-titre {
  text-align:center;
  width:100%;
  padding:5px;
}

h5.title-categ {
padding-top: 50px;
padding-bottom: 5px;  
}

section.card {
  display: flex-inline;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  }

section.card {  &::-webkit-scrollbar {
     display: none;
   }
 }

div.card--content{
  order: 0;
  flex-grow: auto;
}


</style>

<head>
  <title>Site de Musique</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/Styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <!--Haut de page -->
    <header>
      <table class="tg">
        <tr>
          <th class="header"> <a href="index.html">
            <img src="img/logo.png" width="50" height="50">
          </a></th>
          <th class="header-titre"><h1 class="titre">Site Musicalement Votre</h1></th>
        </tr>
      </table>

    </header>

    <!--Menu de navigation -->

    <main id="app">

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarsExample07" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" v-on:click="currentPage = 'accueil'">
              <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" v-on:click="currentPage = 'nouveautes'">
              <a class="nav-link" href="#">Nouveautés <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" v-on:click="currentPage = 'categories'">
              <a class="nav-link" href="#">Catégories <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
          <form class="form-inline">.
            <button class="btn btn-outline-info my-2 my-sm-0" v-on:click="currentPage = 'inscription'"type="submit">Inscription</button>
          </form>
          <form class="form-inline">.
            <button class="btn btn-outline-info my-2 my-sm-0" v-on:click="currentPage = 'connexion'"type="submit">Connexion</button>
          </form>
        </div>
      </nav>


      <section v-if="currentPage === 'accueil'" id="accueil">
        <!--Contenue sous forme de boite -->
        <h1>Bienvenue !</h1>
        <p class="partie1">Allume ton enceinte, ça part !</p>

        <p class="partie2">Tu peux écouter ce qui te plait ici :
          <a href="http://youtube.com" target="_BLANK">Lien youtube</a></p>

          <section class="card">
            <div class="card--content">
              <iframe width=auto height=auto
              src="https://www.youtube.com/embed/iXp9xuNi0mU">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=auto height=auto src="https://www.youtube.com/embed/OA8aw07dpg0"> </iframe>
            </div>
            <div class="card--content">
              <iframe width=auto height=auto
              src="https://www.youtube.com/embed/iXp9xuNi0mU">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=auto height=auto
              src="https://www.youtube.com/embed/iXp9xuNi0mU">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=auto height=auto
              src="https://www.youtube.com/embed/iXp9xuNi0mU">
            </iframe>
            </div>
          </section>

        </section>



      <!--Contenue Nouveautes -->
      <section v-else-if="currentPage === 'nouveautes'" id="nouveautes">
        <h1>Les Music' news, l'actualité de la musique.</h1>
        <p>Toutes les actualités</p>
          <section class="article-cadre">
            <listarticles></listarticles>
            <hr>



          </section>
                
      </section>


      <!--Contenue Catégories -->
      <section v-else-if="currentPage === 'categories'" id="categories">
        <h1>Il y en a pour tous les goûts !</h1>
        <p>Vous pourrez trouver tout style de musique et en découvrir tout autant.</p>
        <h5 class="title-categ">Musique Classique</h5>
          <section class="card">
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/mmCnQDUSO4I">
            </div>
            <div class="card--content">
              <iframe width=400 height=300 src="https://www.youtube.com/embed/9E6b3swbnWg"> </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/QxHkLdQy5f0">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/klPZIGQcrHA">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/KpOtuoHL45Y">
            </iframe>
            </div>
          </section>

        <h5 class="title-categ">Hip Hop US</h5>
          <section class="card">
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/nppKPgdc_u0">
              </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300 src="https://www.youtube.com/embed/yRfQGXFRr30"> </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/YpugK0RpEaU">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/OA8aw07dpg0">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/R2HuxiqUuTA">
            </iframe>
            </div>
          </section>

        <h5 class="title-categ">Rap Français</h5>
          <section class="card">
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/IG9t33pBxhA">
              </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300 src="https://www.youtube.com/embed/U4EICXeGtx0"> </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/oJPt2Hc2fXM">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/S-PfztuGo-s">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/fm4EP_tWmXs">
            </iframe>
            </div>
          </section>

        <h5 class="title-categ">Diso & Funk</h5>
          <section class="card">
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/qchPLaiKocI">
              </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300 src="https://www.youtube.com/embed/DG9_pVQaJKY"> </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/GSi4HE0OBcA">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/sKoBpDM9S8c">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/n0xJehv5Fag">
            </iframe>
            </div>
          </section>

        <h5 class="title-categ">Musique électro</h5>
          <section class="card">
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/hyVVoLy4LSc">
              </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300 src="https://www.youtube.com/embed/R3FMhQ1jIws"></iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/7ZguAEoNpZw">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/hC8CH0Z3L54">
            </iframe>
            </div>
            <div class="card--content">
              <iframe width=400 height=300
              src="https://www.youtube.com/embed/96W0GsRq10A">
            </iframe>
            </div>
          </section>

      </section>


      <section v-else-if="currentPage === 'inscription'" id="inscription">
        <h1>Ceci est la page d'inscription</h1>
        <p>Allez, inscrit toi</p>
      </section>

      <section v-else-if="currentPage === 'connexion'" id="connexion">
        <h1>Ceci est la page de login</h1>
        <p>Log toi narvalo</p>
      </section>

      <section v-else>
        Perdu ? Vous êtes ici.
      </section>
    </main>


    <!--Bas de page -->



    <!-- Footer -->
    <footer class="page-footer font-small red ">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Grid row-->
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </hr>
    </div>


  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018-2019 Copyright - Teo ANDRIES / Kévin LE BORGNE - All Rights Reserved
    <a href="https://esiea.fr/"> Esiea.fr</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>

<!-- script-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var page = ''
  Vue.component('listarticles' , {
    data: function(){
      return {
        
        listArticles: [
          {
            id: 1,
            counter: 0,
            title: "L'or du commun tease l'album avec « homosapiens » [videoclip]", 
            description : "Extrait de l'album « Sapiens ».", 
            img : 'https://static.booska-p.com/images/news/l-or-du-commun-homosapiens-videoclip-649.jpg'
          },
          {
            id: 2,
            counter: 0,
            title: 'Lomepal : cover et tracklist de son nouvel album « jeannine »', 
            description : 'Avec Orelsan, JeanJass, Roméo Elvis et même Philippe Katerine...', 
            img : 'https://static.booska-p.com/images/news/lomepal-cover-et-tracklist-de-son-album-jeanine-649.jpg'
          },
          {
            id: 3,
            counter: 0,
            title: 'La carrière de snoop dogg bientôt sur grand écran ?', 
            description : "Un film qui retracera l'évolution de sa carrière au fil des années.", 
            img : 'https://static.booska-p.com/images/news/vers-la-sortie-d-un-biopic-sur-la-carri-re-de-snoop-dogg-649.jpg'
          },
          {
            id: 4,
            counter: 0,
            title: "Ice cube s'en prend à trump dans « arrest the president »", 
            description : "Ice Cube s'engage à son tour.", 
            img : 'https://static.booska-p.com/images/news/ice-cube-s-en-prend-trump-dans-arrest-the-president-son-649.jpg'
          }
        ]
      }
    },
    methods: {
      clickArticle: function(el){
        console.log(document.getElementById(el))
        this.page = 'article' + el
        console.log(this.page)
      }
    },
    template: `<div>
          <div v-for="item in listArticles">
          <hr>
          <div class="row" v-bind:id="item.id" v-on:click="counter += 1" v-on:click="clickArticle(item.id)" >
            
                <div class="col-6 col-md-4"><img :src="item.img" width=300 height=150></div>                    
                <div class="col-12 col-md-8">
                  <span class="article__related">
                    <time class="article__time" datetime="-- :"> A 12h52</time>
                    <span class="article__feed"><span class=""></span> {{item.counter}} vues
                  </span>

                  <h3 class="article__title" href="#" v-on:click="currentPage = 'article'"> 
                    {{item.title}}
                  </h3>
                  <p class="article__paragraph">{{item.description}}</p>
                </div>
          </div>
        </div>
        </div>
        `
  })


  const app = new Vue({
    el: '#app',
    
    data: {
      currentPage: ''
      
      
    }
  })
</script>
<script>
// Sans cette ligne + l'import de axios.js (2e <script>), this.$http ne fonctionnera pas
Vue.prototype.$http = axios

const app = new Vue({
  el: '#app',
  data: {
    currentPage: 'liste',
    filter: '',
    menu: '',
    myList: [],
    name: ''
  },
  created () {
    // Ici, l'utilisation d'une fonction flêchée () => {} plutôt que function () {} est primordial !
    // sans fonction fléchée, this.myList = ... ne fonctionnera pas comme prévu
    this.$http.get('/list')
      .then(list => {
        console.log('affichage de ma liste', list)
        this.myList = list.data
      })
      .catch(err => {
        console.log('error', err)
      })
  },
  methods: {
    sendNewElement () {
      this.$http.post('/list', {
        name: this.name
      })
      .then(() => {
        this.myList.push({
          name: this.name
        })
      })
    }
  }
})
</script>
</body>
</html>
