
div#content div{
	display: inline-block;	
}

div#content div.centralbox_ext{
	display: inline-block;
	background-color: #E6E6E6;
	margin-top: 5px;
}

div#content div.centralbox{
	display: inline-block;
	background-color: white;
	margin-top: 5px;
	width: 60%;
}


nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline;
 	text-decoration: none;
 	color: #000;
 	margin: 5px;
}

nav.menu-nav ul li.btn a{
	color: black;
	background-color: #848484;
	text-decoration: none;
	padding: 2px;

}

nav.menu-nav ul li.btn:hover a{
	color: black;
	background-color: #BDBDBD;
	transition: 0.5s;
}
header img{
	border-radius: 55%;
}


body{
	color: black;
	background-color: white;
}

h1.titre{
	text-align: center;
	}

header{
	
	background-color: #848484;
}

footer{
	;
}

/*

p.partie1{
	color: black;
}

p.partie2{
	color: red;
}



h1{
	padding-left: 300px;
}*/